@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url("https://cdn.jsdelivr.net/npm/inter-ui@3.11.0/Inter%20(web)/Inter-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/npm/inter-ui@3.11.0/Inter%20(web)/Inter-Regular.woff") format("woff");
}

.nuxt {
  padding-bottom: 30px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  user-select: none;
  scrollbar-color: dark;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  font: normal 20px/1.4 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color: #fff;
  background-color: #171717; /* hsl(240, 22%, 7%); */
  max-width: 800px;
  height: 100%;
}

a {
  color: #30D973 /* hsl(200, 50%, 45%) */;

  :hover, :focus {
    color: #30D973 /* hsl(200, 80%, 45%) */;
  }
}

.fade {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, transparent, #171717 /*hsl(240, 22%, 7%)*/);
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: hsl(140, 7%, 30%);
  background-clip: padding-box;
  :hover {
    background: hsl(140, 50%, 45%);
  }
}

h3 {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 400;
}

.achievements, .secondary {
  li {
    padding-bottom: 20px;
  }
}

.primary {
  padding-bottom: 10%;
}

.secondary {
  a {
    text-decoration: none;
  }
}

.container {
		padding: 0 12px;
		padding-bottom: 10px;
}

#secondary-header {
  cursor: pointer;
}

.gallery-link {
  padding-top: 100px;
}

.list-wrapper {
  display: flex;
  padding-bottom: 5px;

  @media screen and (max-width: 1020px) {
    display: block;
  }

  .date {
    margin-left: -110px;
    flex: 0 0 110px;
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;

    @media screen and (max-width: 1020px) {
      margin-left: 0px;
      text-align: left;
      float: left;
    }
  }

  .title {
    display: block;
    flex: 1 0;
  }
}

#horizontal-line {
  border: 1px solid hsl(240, 22%, 14%);
  width: 10%;
  margin: auto;
  margin-top: 5%;
}

.link-title {
  font-size: 20px;
}

.hero {
  padding: 12px;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  min-height: calc(100% - 200px);
  color: hsl(200, 7%, 80%);
  padding-top: 30vh;
  padding-bottom: 20vh;

  > div {
    margin: auto 0;
  }

  h1 {
    min-height: calc(100% - 200px);
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    color: #30D973;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: hsl(200, 7%, 53%);
  }

  div {
    margin: auto 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  color: hsl(200, 7%, 53%);
}

li {
  margin-top: 10px;
}