---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page not found" description="Page not found" breadcrumb="portfolio.sh\n[ERROR 404] Portfolio kernel unreachable">
  <div class="pt-4">
    <div class="font-mono tracking-widest text-sm whitespace-pre-line">
      <span class="text-red-500">[ERROR 404] Portfolio kernel unreachable!</span>

      <br />
      :: neural-log://inspirational.quotes[23]:
      <div id="quote" class="opacity-0">
        <span id="quote-text">
          Loading inspirational quote...
        </span>
        <br />
        <span class="text-md font-mono" id="quote-author"></h2>
      </div>
      [INFO] :: Memory dump complete. [9.8% integrity remaining]
      <br />
      <span class="text-red-500">System meltdown imminent. Abort? [Y/n]</span>
      <br />
      <span class="animate-blink">&#9608;</span>
    </div>
  </div>
</Layout>

<script>
  const quotes = [
    {
      quote:
        "The first rule of meaningless acts of violence against the social fabric is to have fun.",
    },
    {
      quote:
        "Be careful, lest in casting out your demon you exorcise the best thing in you.",
      author: "Friedrich Nietzsche",
    },
    {
      quote:
        "They were artists, without a doubt. And up to a point, they had starved for their art.",
      author: "Harlan Ellison",
    },
    {
      quote:
        "DEHUMANIZE YOURSELF AND FACE TO BLOODSHED. DEHUMANIZE YOURSELF AND FACE TO BLOODSHED. DEHUMANIZE YOURSELF AND FACE TO BLOODSHED.",
    },
    {
      quote:
        "Outwardly: dumbly, I shamble about, a thing that could never have been known as human...",
      author: "Harlan Ellison",
    },
    {
      quote: "Keep your head above the water \\ Drowning in you",
      author: "Palace",
    },
    {
      quote:
        "I don't know where I'll be tomorrow \\ And I feel free \\ Just to be me",
      author: "Skinshape",
    },
    {
      quote:
        "Cause now I know that all plans fade away \\ And so I'm only planning for today",
      author: "Lewis Del Mar",
    },
    {
      quote:
        "The beginner's luck, now don't mess it up \\ If you get too stuck just bluff",
      author: "King Gizzard & The Lizard Wizard",
    },
    {
      quote: "I won't be there \\ I won't play fair",
      author: "Skinshape",
    },
  ];
  const quoteText = document.getElementById("quote-text");
  const quoteAuthor = document.getElementById("quote-author");
  const quoteContainer = document.getElementById("quote");
  const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
  if (quoteText && quoteAuthor) {
    quoteText.textContent = `"${randomQuote.quote.replace(/\\ /g, "\n")}"`;
    if (randomQuote.author) {
      quoteAuthor.textContent = `— ${randomQuote.author}`;
    }
  }
  if (quoteContainer) {
    quoteContainer.classList.remove("opacity-0");
  }
</script>
