---
import Layout from "@layouts/Layout.astro";
import ContentGrid from "@components/ContentGrid.astro";
import { getAchievements } from "@lib/cms/achievements";

const achievements = await getAchievements();
---

<Layout title="Achievements" breadcrumb="achievements.sh">
  <main>
    <div class="mb-8">
      <h1 class="font-redaction20 text-2xl font-bold text-balance">
        My achievements
      </h1>
      <p class="font-mono text-sm text-balance">
        Stuff I’m proud of — big wins, small wins, and everything in between.
      </p>
    </div>

    <div class="mb-12">
      <div class="font-mono text-xs text-stone-500 dark:text-stone-400 mb-4">
        <span class="text-blue-600 dark:text-blue-400">></span> entries
      </div>
      <ContentGrid content={achievements.filter((p) => !p.isMinor)} />
    </div>
  </main>
</Layout>
