---
import Layout from "@layouts/Layout.astro";
import ContentGrid from "@components/ContentGrid.astro";
import { getAchievements } from "@lib/cms/achievements";

const achievements = await getAchievements();
---

<Layout title="Achievements" breadcrumb="achievements.sh">
  <main>
    <ContentGrid content={achievements.filter((p) => !p.isMinor)} />
  </main>
</Layout>
