---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Contact from "@components/Contact.astro";
import Resume from "@components/Resume.astro";
import CurrentlyListeningTo from "@components/CurrentlyListeningTo.tsx";
import BoxWithTitle from "@components/BoxWithTitle.astro";

---

<Layout>
  <div class="-mt-5 mb-10 print:mb-8 print:-mt-6">
    <Hero />
  </div>
  <BoxWithTitle class="mb-10 print:hidden" title="now playing d-_-b" fullWidth>
    <CurrentlyListeningTo client:load />
  </BoxWithTitle>
  <main class="flex flex-col gap-10">
    <Resume />
    <Contact />
  </main>
</Layout>
