---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Contact from "@components/Contact.astro";
import Resume from "@components/Resume.astro";
import FeaturedNotes from "@components/FeaturedNotes.astro";
import PlanetSVG from "../assets/planet.svg?raw";
---

<Layout parentClass="effect-text-glitch">
  <div class="-mt-5 mb-10 print:-mt-6 print:mb-8">
    <Hero />
  </div>
  <main class="flex flex-col gap-10">
    <Resume />
    <FeaturedNotes
      slugs={[
        "you-want-how-much-for-that-effect",
        "always-winning-at-juwenalia-hacking-rewards-from-the-festival-apps-mini-games",
        "finding-a-needle-in-the-image-stack",
      ]}
    />
    <Contact />
  </main>
  <div class="-z-10 absolute top-[260px] -left-[720px] xl:block hidden fill-stone-800 dark:fill-stone-300">
    <Fragment set:html={PlanetSVG} />
  </div>
</Layout>
