---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Contact from "@components/Contact.astro";
import Resume from "@components/Resume.astro";
import CurrentlyListeningTo from "@components/CurrentlyListeningTo.tsx";
---

<Layout>
  <div class="-mt-5 mb-10">
    <Hero />
  </div>
  <div class="relative mb-10 rounded-lg border border-gray-200 px-4 pb-4 pt-6">
    <p class="absolute -top-2 bg-stone-50 px-3 font-mono text-xs text-gray-500">
      Now playing
    </p>
    <div class="z-10">
      <CurrentlyListeningTo client:load />
    </div>
  </div>
  <main class="flex flex-col gap-10">
    <Resume />
    <Contact />
  </main>
</Layout>
