---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Contact from '@components/Contact.astro';
import Resume from '@components/Resume.astro';
---

<Layout>
	<div class="mb-10 -mt-5">
		<Hero />
	</div>
	<main class="flex flex-col gap-6">
		<Resume />
		<Contact />
	</main>
</Layout>
