---
import Layout from "@layouts/Layout.astro";
import ContentGrid from "@components/ContentGrid.astro";
import { getProjects } from "@lib/cms/projects";

const projects = await getProjects();
---

<Layout title="Projects">
  <main>
    <ContentGrid content={projects.filter((p) => !p.isMinor)} />
    <h2 class="text-2xl font-redaction20 font-bold text-balance mt-10 mb-3">
      More Projects
    </h2>
    <div>
      {
        projects
          .filter((p) => p.isMinor)
          .map((project) => (
            <>
              <h1 class="text-xl sm:text-2xl font-redaction20 font-bold text-balance">
                {project.title}
              </h1>
              <h2 class="text-sm font-mono mb-2">{project.tagline}</h2>
              <div class="prose prose-sm dark:prose-stone dark:prose-invert">
                <Fragment set:html={project.description?.html} />
              </div>
            </>
          ))
      }
    </div>
  </main>
</Layout>
