---
interface Props {
  title?: string;
  class?: string;
  fullWidth?: boolean;
}

const { title, class: className, fullWidth = false } = Astro.props;
---

<div class="flex">
  <div
    class:list={[
      "relative border border-stone-300 dark:border-stone-600 px-4 pt-6 pb-4",
      className,
      fullWidth && "w-full",
    ]}
  >
    {
      title && (
        <p class="dark:bg-darkbg absolute -top-2 bg-stone-50 px-3 font-mono text-xs text-gray-500 dark:text-stone-200">
          {title}
        </p>
      )
    }
    <div class="z-10">
      <slot />
    </div>
  </div>
</div>
