---
interface Props {
  text: string;
}

const {text} = Astro.props;
---

<div class="print:hidden whitespace-pre-line hidden lg:block select-none text-stone-400 font-mono fixed left-0 top-2/3 transform -translate-y-1/2 origin-top-left -rotate-90 text-xs tracking-widest">
    root@mainframe:~# ./{text}
</div>