---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div
  class="fixed top-2/3 left-0 hidden origin-top-left -translate-y-1/2 -rotate-90 transform font-mono text-xs tracking-widest whitespace-pre-line text-stone-400 select-none lg:block print:hidden"
>
  root@mainframe:~# ./{text}
</div>
