<div class="relative">
  <div class="flex flex-col gap-2 h-full">
    <h2 class="font-mono font-normal text-md text-balance max-w-md">
      Full-stack developer, backend expert, open-source lover and eternal
      <span class="italic">optimist</span>.
    </h2>
  </div>
  <div class="mt-4 border-b-2 border-stone-700 dark:border-stone-300 border-balance w-24"></div>
</div>
