---
import LineBar from "./LineBar.astro";
---

<div class="relative">
  <div class="flex h-full flex-col gap-2">
    <h2 class="text-md max-w-xl text-balance font-mono font-normal">
      Fueled by a zest for the lighter side of life, Jakub is an
      <span class="italic">engineer</span> by day<wbr />
      and ultra-low-budget cinema enthusiast by night.
    </h2>
  </div>
  <div class="border-balance mt-2 w-24 fill-stone-700 dark:fill-stone-300">
    <LineBar />
  </div>
</div>
