<div class="flex justify-between items-center md:flex-row flex-col gap-4 md:gap-0">
  <div class="flex items-center">
    <h1 class="text-2xl font-bold font-redaction20 text-center">
      <a href="/">
        Jakub Kopańko
      </a>
    </h1>
  </div>
  <nav class="navbar font-mono text-md flex gap-2 md:gap-4 items-end justify-center flex-wrap md:flex-nowrap">
      <a class="hover:underline" href="/notes">
        Notes
      </a>
      <a class="hover:underline" href="/projects">
        Projects
      </a>
      <a class="hover:underline" href="/achievements">
        Achievements
      </a>
  </nav>
</div>