<div
  class="flex flex-col items-center justify-between gap-4 md:flex-row md:gap-0"
>
  <div class="flex items-center">
    <h1 class="text-center font-redaction20 text-3xl font-bold md:text-2xl">
      <a href="/">Jakub Kopańko</a>
    </h1>
  </div>
  <nav
    class="navbar text-md text-md flex flex-wrap items-end justify-center gap-2 font-mono md:flex-nowrap md:gap-4"
  >
    <a class="hover:underline" href="/notes" data-astro-prefetch> Notes </a>
    <span class="inline select-none md:hidden"> &middot; </span>
    <a class="hover:underline" href="/projects" data-astro-prefetch>
      Projects
    </a>
    <span class="inline select-none md:hidden"> &middot; </span>
    <a class="hover:underline" href="/achievements" data-astro-prefetch>
      Achievements
    </a>
  </nav>
</div>
