---
import AGHLogo from "@assets/agh-logo.svg?raw";
import SmarttechLogo from "@assets/smarttech-logo.svg?raw";
import ZwierciadlaLogo from "@assets/zwierciadla-logo.svg?raw";
import URSSLogo from "@assets/urss-logo-short.svg?raw";
import CampusLogo from "@assets/campus-agh-logo.svg?raw";
import HackAghLogo from "@assets/hackagh-logo.svg?raw";
import BoxWithTitle from "./BoxWithTitle.astro";

type Entry = {
  logo: string;
  subentries: {
    date: string;
    title: string;
  }[];
};

type SmallLogo = {
  logo: string;
  altText: string;
}

const entries: Entry[] = [
  {
    logo: AGHLogo,
    subentries: [
      {
        date: "2020 — 24",
        title:
          "Computer Science and Intelligent Systems B.Eng. Degree from AGH University of Kraków",
      },
      {
        date: "2024 — 26",
        title: "Computer Science and Intelligent Systems M.Eng. Degree",
      },
    ],
  },
  {
    logo: SmarttechLogo,
    subentries: [
      {
        date: "Apr 2023 — Now",
        title:
          "Mid-level Node.js Developer (AWS) working on Threathub.io. Occasionally engaged in DevOps.",
      },
    ],
  },
  {
    logo: ZwierciadlaLogo,
    subentries: [
      {
        date: "2018 — 2019",
        title:
          "Chief Coordinator of the 16th edition of Zwierciadła Theatre Festival",
      },
    ],
  },
];

const smallLogos: SmallLogo[] = [
  {
    logo: CampusLogo,
    altText: "Campus AGH",
  },
  {
    logo: HackAghLogo,
    altText: "Hack AGH",
  },
  {
    logo: URSSLogo,
    altText: "Uczelniana Rada Samorządu Studentów AGH",
  },
];
---

<div>
  <div class="md:mb-3">
    <h1 class="font-redaction20 text-3xl">Resumé</h1>
  </div>
  <div
    class="grid grid-cols-1 gap-1 md:grid-cols-5 md:items-center md:gap-x-6 md:gap-y-8"
  >
    {
      entries.map((entry, index) => (
        <>
          <div class="mt-6 w-40 sm:col-span-2 md:col-span-1 md:mt-0 md:w-full dark:fill-stone-200">
            <Fragment set:html={entry.logo} />
          </div>
          <div class="col-span-4 flex flex-col gap-3">
            {entry.subentries.map((subentry, index) => (
              <div>
                <p class="font-mono font-bold dark:text-stone-200">
                  {subentry.date}
                </p>
                <p class="text-balance font-mono">{subentry.title}</p>
              </div>
            ))}
          </div>
        </>
      ))
    }
  </div>
  <BoxWithTitle title="non-profit work" class="mt-10">
    <div
      class="px-2 py-1 flex flex-row flex-wrap gap-4 md:gap-8 items-center"
    >
      {
        smallLogos.map((smallLogo, index) => (
          <div class="w-20 dark:fill-stone-300 fill-stone-800">
            <Fragment set:html={smallLogo.logo} />
          </div>
        ))
      }
    </div>
  </BoxWithTitle>
</div>
