---
import AGHLogo from "@assets/agh-logo.svg?raw";
---

<div>
  <h1 class="font-redaction20 text-3xl mb-4">Resumé</h1>
  <div class="font-mono flex flex-col sm:flex-row sm:gap-6 gap-4 sm:items-center">
    <div class="dark:fill-stone-200 sm:w-52 w-44">
      <Fragment set:html={AGHLogo} />
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <p class="dark:text-stone-200 font-bold">2020 — 24</p>
        <p class="text-balance">Computer Science and Intelligent Systems B.Eng. Degree from AGH University of Kraków</p>
      </div>
      <!-- <div>
        <p class="text-stone-300 font-bold">2024 — 26</p>
        <p>Computer Science and Intelligent Systems, M.Eng.</p>
      </div> -->
    </div>
  </div>
</div>
