$family-sans-serif: 'Inter', sans-serif;
$footer-padding: 3rem 1.5rem 3rem;

@import '~bulma/bulma';
@import './utilities.scss';
@import './navbar.scss';
@import './index.scss';

.main.section {
  min-height: 75vh;
}
