$family-sans-serif: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$footer-padding: 3rem 1.5rem 3rem;

@import '~bulma/bulma';
@import './utilities.scss';
@import './navbar.scss';
@import './index.scss';
@import './elements.scss';

.main.section {
  min-height: 75vh;
}
