.intro .about {
  margin-bottom: 5.5rem;

  .title {
    font-size: 50px;
    margin-bottom: 1em;
    font-weight: 900;
    // text-shadow: 0px 0px 20px rgba(54,54,54,0.44);
  }

  .subtitle {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 3rem;
    margin-top: -2rem;

    .title {
      font-size: 30px;
      margin-bottom: 1.5em;
    }
  
    .subtitle {
      font-size: 1.5rem;
    }
  }
}

.main.with-gradient {
  @media screen and (min-width: 769px) {
    padding-top: 0;
  }
}

.gradient {
  border-radius: 12px;

  @media screen and (min-width: 769px) {
    padding: 60px 45px;
    background: url('/images/gradient.png');
    background-size: cover;
    background-position: center center;
    animation: huerotate 4s ease-in-out infinite;
    animation-direction: alternate;
  }

  @keyframes huerotate {
    from {
      -webkit-filter: hue-rotate(-30deg);
      -moz-filter: hue-rotate(-30deg);
      -ms-filter: hue-rotate(-30deg);
      -webkit-filter: hue-rotate(-30deg);
      filter: hue-rotate(-30deg);
    }
    to {
      -webkit-filter: hue-rotate(30deg);
      -moz-filter: hue-rotate(30deg);
      -ms-filter: hue-rotate(30deg);
      -webkit-filter: hue-rotate(30deg);
      filter: hue-rotate(30deg);
    }
  }
}

.box.hover-shadow {
  transition: all 0.07s ease-in-out;

  &:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.15), 0 0px 0 1px rgba($scheme-invert, 0.02)
  }
}