.mail:after {
  content: attr(data-a) "@" attr(data-d) ".com";
  color: hsl(229deg, 53%, 53%);
}

.mail:hover:after {
  color: hsl(0deg, 0%, 29%);
}

::-webkit-scrollbar {
  width: 14px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: #4a4a4a;
  background-clip: padding-box;
  :hover {
    background: hsl(140, 50%, 45%);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cpsp" on;
  font-feature-settings: "frac" on;
  font-feature-settings: "salt" on;
  font-feature-settings: "ss02" on;
}